@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

html {
  height: 100%;
  font-size: 16px;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Fjalla One', sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

header {
  text-align: center;
  font-size: 4rem;
  border-bottom: 1rem black solid;
}

main {
  flex-grow: 1;
}

footer {
  border-top: 1rem black solid;
  height: 5rem;
}

.lang-box {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  align-content: space-around;
}

.lang {
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  border: 0.75rem black solid;
  padding: 3rem;
  margin: 1.5rem;
  font-size: 2rem;
  box-shadow: inset 0 0 2rem 1rem;
  transition: background-color 0.5s
}

.lang[href="spa"]:hover {
  background-color: yellow;
}

.lang[href="eng"]:hover {
  background-color: steelblue;
}

.lang[href="cat"]:hover {
  background-color: tomato;
}

.book-box {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  align-content: space-around;
}

.book {
  min-width: 10rem;
  width: 10rem;
  height: 2rem;
  text-align: center;
  border: 0.75rem black solid;
  margin: 1.5rem 1.5rem;
  padding: 3rem;
  font-size: 2rem;
  box-shadow: inset 0 0 2rem 1rem;
  transition: background-color 0.5s
}

.book[href="6th"]:hover {
  background-color: darkslategray;
}

.book[href="7th"]:hover {
  background-color: teal;
}

.book[href="8th"]:hover {
  background-color: cadetblue;
}
