@import "https://fonts.googleapis.com/css?family=Oswald&subset=latin-ext";

h2 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#up {
  border-radius: 25%;
  border: solid black;

  font-weight: bold;
  text-decoration: none;
  font-size: 2em;

  background-color: red;
  color: white;

}
