@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
  font-family: 'Fjalla One', sans-serif;
}

h1 {
  text-align: center;
  color: darkred;
}

.rulebox {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom right, black, white, black );
  justify-content: space-between;
}

.rulebox a {
  padding: 1em;
  margin: 0.5em;

  text-decoration: none;
  text-align: center;
  color: white;

  border: solid red;
  background: black;
}
