<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>W40K ─ {{title}}</title>
    <link rel="stylesheet" href="{{relative path 'assets/css/rule.css'}}" >
  </head>
  <body>
    <h2>{{title}}</h2>
    {{{contents}}}
    <a id="up" href="./index.html">↑</a>
  </body>
</html>
