<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index of rules</title>
    <link rel="stylesheet" href="{{relative path 'assets/css/rule_index.css'}}" >
  </head>
  <body>
    <h1>{{title}}</h1>
    {{{contents}}}
    <div class="rulebox">
      {{#inObjProp my_collections directory}}
        {{#each this }}
            <a href="{{this.basename}}">{{this.title}}</a>
        {{/each}}
      {{/inObjProp}}
    </div>
  </body>
</html>
