<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
  </head>
  <body>
  	<h1>{{title}}</h1>
    <p>Composición: {{data.composición}}</p>
    <table>
      <thead>
        <tr>
          <td>Nombre</td>
          <td>HA</td>
          <td>HP</td>
          <td>F</td>
          <td>R</td>
          <td>H</td>
          <td>I</td>
          <td>A</td>
        </tr>
      </thead>
      {{#each data.perfiles}}
      <tr>
        <td>{{this.nombre}}</td>
        <td>{{this.habilidad_de_armas}}</td>
        <td>{{this.habilidad_de_proyectil}}</td>
        <td>{{this.fuerza}}</td>
        <td>{{this.resistencia}}</td>
        <td>{{this.heridas}}</td>
        <td>{{this.iniciativa}}</td>
        <td>{{this.ataques}}</td>
      </tr>
      {{/each}}
    </table>
    <p>Equipo:</p>
    <div>
      <ul>
        {{#each data.equipo}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
    <p>Opciones:</p>
    <div>
      <ul>
        {{#each data.opciones}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </div>
  </body>
</html>
